<!DOCTYPE html>
<html>

<head>
    <title>Agunacoco</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">

        <!-- 객체타입 데이터  -->
        <h1>{{ message.name }}, {{ message.age }}</h1>

        <!-- if문과 else if문  -->
        <p v-if="message.age>=20">어른</p>
        <p v-else-if="message.age<20 && message.age>12">학생</p>
        <p v-else>어린이</p>
        <!-- Dom이란 원본 html을 처음부터 끝까지 읽고 부모자식관계를 분석한다. -->
        <!-- 서버에서는 자식 p태그가 3개가 넘어왔지만 결과창에 element에서는 결과 1개만 남았기때문에 Dom이 수정된다.  -->

        <!-- link연결 -->
        <!-- html의 속성에서는 {{}}을 사용할 수 없기때문에 v-bind를 사용. href, src, alt등 -->
        <!-- v-bind를 :로 줄여서 사용가능. -->
        <a :href="address">Naver</a>

        <!-- for-each의 구조:li에 사용 -->
        <ul>
            <li v-for="todo in todos">{{ todo.name }}</li>
        </ul>

        <!-- for-each의 구조: div에 사용 -->
        <div v-for="todo in todos">
            <p>{{ todo.name }}</p>
        </div>

        <!-- for-each의 구조: div에 사용해서 index 받기  -->
        <!-- (todo, num)은 앞에 오는 변수가 값을 담고 뒤에 오는 변수가 index를 가지고 온다. -->
        <div v-for="(todo, num) in todos">
            <p>{{ num }}::{{ todo.name }}</p>
        </div>

        <!-- for-each의 구조: object의 값들 출력하기 -->
        <!-- (todo, num)은 앞에 오는 변수가 객체의 키 값을 담고 뒤에 오는 변수가 객체의 키 이름을 가지고 온다. -->
        <h3>{{ user.title }}</h3>
        <div v-for="(value, key) in user">
            <p>{{ key }} - {{ value }}</p>
        </div>

        <!-- for-each의 구조: range for -->
        <div v-for="n in 10">
            <p>{{ n }}</p>
        </div>

        <!-- Event Handling -->
        <!-- v-on은 click, mouseover, submit, keyup,x등 이벤트를 감지하고 이를 처리한다. -->
        <button v-on:click="counter1 += 1">+</button>
        <!-- v-on(이벤트): @로 줄일 수 있다.  -->
        <button @click="counter1 -= 1">-</button>
        <p>{{ counter1 }}</p>

        <!-- method를 이용한 버튼 처리 -->
        <!-- 이벤트 뒤에 메소드 이름을 입력하면 된다. -->
        <button @click="addCounter">+</button>
        <button @click="subCounter">-</button>
        <p>{{ counter2 }}</p>

        <!-- method parameter -->
        <p>{{ paratest.message }}</p>
        <ul>
            <li v-for="user in paratest.users">
                <!-- 클릭하면 메소드 sayHi로 user.name 매개변수의 값을 보내준다 -->
                <p v-on:click="sayHi(user.name)">{{ user.name }}</p>
            </li>
        </ul>

        <!-- Form input binding -->
        <!-- 데이터와 view의 양방향 모델링 -->
        <input v-model="comment1">
        <p>{{ comment1 }}</p>

        <!-- textarea -->
        <!-- 위와 같이 v-model에 데이터를 입력한 것이므로 여러줄이 입력되는 양방향 모델링이다. -->
        <span>여러 줄을 가지는 메세지: </span>
        <p style="white-space: pre-line">{{ comment2 }}</p>
        <br>
        <textarea v-model="comment2" placeholder="여러줄을 입력해보세요."></textarea><br>

        <!-- checkbox:단일 값은 boolean으로 true, false. -->
        <input type="checkbox" id="check_single" v-model="checktest.value">
        <label for="check_single">{{ checktest.value }}</label>

        <!-- checkbox: 여러 개의 값은 배열로 처리. -->
        <div>
            <input type="checkbox" id="check_one" value="one" v-model="checktest.values">
            <label for="check_one">one</label>
            <input type="checkbox" id="check_two" value="two" v-model="checktest.values">
            <label for="check_two">two</label>
            <input type="checkbox" id="check_three" value="three" v-model="checktest.values">
            <label for="check_three">three</label>
            <!-- checktest의 values 배열에 저장된 값을 출력. -->
            <p>Checked: {{ checktest.values }}</p>
        </div>

        <!-- v-model.lazy -->
        <!-- v-model은 입력하면 바로 각 입력에 동기화 즉 양방향이다. -->
        <!-- 입력하면 바로 동기화되서 입력된다 -->
        <input v-model="lazytest.value">
        <p>{{ lazytest.value }}</p>
        <!-- v-model.lazy는 입력하면 양방향이 아닌 엔터키를 눌러 값이 수정된 다음 동기화된다. -->
        <!-- 입력하고 엔터를 눌러야 값이 수정된다. -->
        <input v-model.lazy='lazytest.value2'>
        <p>{{ lazytest.value2 }}</p>

        <!-- v-model.number  -->
        <!-- 문자형을 사용자 입력이 숫자로 형변환 되도록 설정. -->
        <input v-model.number="user.age">
        <!-- 숫자가 아닌 다른 값을 넣으면 값을 인지할 수 없다. -->
        <p>>{{ user.age }}</p>

        <!-- v-model.trim -->
        <!-- 입력을 trim(문자열 양 끝의 공백 제거.) -->
        <input v-model.trim='message'>
        <p>{{ message }}</p>

        <!-- computed -->
        <!-- computed property -->
        <p>{{ user_info }}</p>
        <input v-model.number='user.age'>
        <p>{{ age_message }}</p>

        <!-- Component -->
        <!-- 반복적으로 사용 가능 -->
        <agunacoco name="kunahyun"></agunacoco>
        <agunacoco name="jang"></agunacoco>
        <aguna></aguna>

        <h3>{{ totalCount }}</h3>
        <add @event-add="updateTotal"></add><br>
        <add @event-add="updateTotal"></add><br>
        <add @event-add="updateTotal"></add><br>


        <script src="./hello.js"></script>
    </div>
</body>

</html>